<div class="row">
  <div class="span9">
    <h3><%= @user.name %> (<%= @user.review_vote_total %>)</h3>
    <hr/>
    <h4>Reviews Written</h4>
    <% @reviews.each do |review| %>
      <div class="review">
        <%= link_to review.title, [review.product, review] %>
      </div>
    <% end %>
    <hr/>
  </div>
</div>