<div class="row">
  <div class="span7 offset1">
    <h3>CHAT</h3>
    <div id="chat_window">

    </div>
    <div><form id="chat_input"><input type="text" name="chat_input"></form></div>
  </div>
  <div class="span2" id="chat_users_logged_in"></div>
</div>