<div class="row" id="update_blocks">
	<div class="block">
		<b>LATEST NEWS</b>
	</div>
	<div class="block">
		<b>LATEST PRODUCTS</b><br />
		<div class="latest_products">
		<% @latest_products.each do |product| %>
			<%= link_to(product.name, product) %><br />
		<% end %>
		</div>
	</div>
	<div class="block">
		<b>ACTIVE THREADS</b>
	</div>
</div>
<div class="row">
	<div class="span6 offset2" id="newest_reviews">
		<% @products.each do |product| %>
		<%= product.name %>
		<% end %>
	</div>
</div>