<div class="row">
	<div class="span10" id="update_blocks">
		<div class="block">
			<b>LATEST NEWS</b><br />
			<% @latest_articles.each do |article| %>
				<%= link_to article.title, article_path(article) %><br />
			<% end %>
		</div>
		<div class="block">
			<b>LATEST PRODUCTS</b><br />
			<div class="latest_products">
			<% @latest_products.each do |product| %>
				<%= link_to(product.name, product) %><br />
			<% end %>
			</div>
		</div>
		<div class="block">
			<b>ACTIVE THREADS</b>
		</div>
	</div>
</div>
<div class="row">
	<div class="span10 offset1" id="newest_reviews">
		<div id="reviews_within">
				<h3>Top Reviewed Products:</h3>
				Products within last: <a class="active" href="#" id="7" value="7">7</a>
				<a href="#" id="14" value="14">14</a>
				<a href="#" id="30" value="30">30</a>
				<a href="#" id="90" value="90">90</a> days
				<script>
					$(document).ready(function() {
						var loadData = function(time_within) {
							$("#products").html("");
							_.each(gon.products, function(product) {
								var productId = "\"product" + gon.products.indexOf(product) + "\"";
								if (gon.products.indexOf(product) % 2 == 0) {
									$("#products").append("<div class=\"product even_product\" id=\"product\">⬆ ⬇ " + product.name +
										" | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + product.average + "</div>");
								} else {
									$("#products").append("<div class=\"product odd_product\" id=\"product\">⬆ ⬇ " + product.name +
										" | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + product.average + "</div>");
								}
							});
						};
						loadData(7);

						$("#reviews_within").each(function() {
							$("a").click(function(clicked) {
								if($(this).hasClass("active")) {
									$(this).removeClass("active");
								} else {
									$(this).addClass("active");
								}
								loadData(30);
							});
						});
					});
				</script>
		</div>
		<%= content_tag "div", :id => "products", :data => {:products => @products} do %>
		<% end %>
	</div>
</div>