<div class="row">
  <div class="span9">
    <h3>Current issues:</h3>
    <p>Updated: 1/21/13</p>
    <p>
      A more up-to-date list probably exists within the README on Github,
      but for now here are some core things missing/which may not function
      as planned.
    </p>
    <ul>
      <li>
        Showing products within a certain timeframe on the main page should
        now work!
      </li>
      <li>
        Tabbing non-functional within the products page. Again, will be added
        later on.
      </li>
      <li>No admin panel.</li>
    </ul>
  </div>
</div>