<div class="row">
  <div class="span9">
    <h3>Current issues:</h3>
    <p>Updated: 1/29/13</p>
    <p>
      A more up-to-date list probably exists within the README on Github,
      but for now here are some core things missing/which may not function
      as planned.
    </p>
    <ul>
      <li>
        Added a review votes total for users which tracks the total sum
        of up/down votes on each user's reviews!
      </li>
      <li>
        There is a small bug with regards to routing where the products part
        of the URL path does not matter much in terms to fetching individual
        reviews. Example: if a review with an ID of 5 belongs to a product with an ID
        of 3, you can still access that review by going to the URL 
        /products/2/reviews/3.
      </li>
      <li>
        Tabbing non-functional within the products page. Again, will be added
        later on.
      </li>
      <li>No admin panel.</li>
    </ul>
  </div>
</div>