// Place all the styles related to the core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html, body {
	//background: image-url('grey.png');
	//background: #efefef;
	color: white;
	font-family: "Open Sans";
	height: 100%;
	margin: 0px;
	padding: 0px;
	a {
		color: #51C0F0;
	}
	a:hover {
		color: #E3E362;
		text-decoration: none;
	}
}

.block {
	background: #5C7E9C;
	border: 1px solid black;
	float: left;
	height: 200px;
	margin: 10px;
	padding: 10px;
	width: 245px;
}

.product {
	height: 30px;
	&.even_product {
		background: #5C7E9C;
	}
	&.odd_product {
		background: #375066;
	}
}

#companies {
	background: #5C7E9C;
	height: 60px;
	//border-top: 1px solid gray;
	//border-bottom: 1px solid gray;
	margin-bottom: 10px;
	padding-left: 35px;
}

#companies_nav {
	a {
		color: #47D157;
	}
	a:hover {
		color: #E3E362;
	}
}

#container {
	background: #586875;
	min-height: 100%;
	position: relative;
}

#content {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
}

#footer {
	background: #5C7E9C;
	color: black;
	font-size: 14px;
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	.row {
		padding-left: 40px;
	}
	a {
		color: black;
	}
	a:hover {
		color: #21A8DE;
		text-decoration: none;
	}
}

#header-top {
	//background: #686DA1;
	background: #375066;
	height: 51px;
	padding-left: 40px;
	padding-top: 40px;
	#logo {
		padding-right: 20px;
		width: 260px;
		a {
			color: rgb(62, 160, 202);
			font-size: 64px;
			text-decoration: none;
		}
	}
}

#nav {
	height: 40px;
	padding-left: 0px;
	ul {
		display: inline;
		list-style-type: none;
		li {
			display: inline;
			a {
				color: #dddddd;
				text-decoration: none;
			}
			a:hover {
				color: #21A8DE;
			}
		}
	}
}

#newest_reviews {
	
}

#reviews_within {
	.active {
		color: rgb(62, 160, 202);
	}
	a {
		text-decoration: none;
	}
}

#sign_in_div {
	background: #dddddd;
	border: 1px solid gray;
	border-radius: 4px;
	height: 150px;
	padding-top: 20px;
	position: absolute;
	right: -40px;
	top: 48px;
	visibility: hidden;
	width: 200px;
}

#sign_in_button {
	padding-left: 30px;
}

#update_blocks {
	padding-left: 90px;
}