<div class="row">
  <div class="span6 offset1">
  <% @products.each do |product| %>
    <div class="product_information">
      <%= product.name %><br/>
      <i>Release Date:</i> <%= product.release_date %>
      <br/>
    </div>
  <% end %>
  <br/>
</div><br/>
  <a href="/products/new">Add new product</a>
</div>