<script>
$(document).ready(function() {
  var loadData = function(time_within) {
    $("#products").html("");
    _.each(gon.products, function(product) {
      var productId = "\"product" + gon.products.indexOf(product) + "\"";
      if (gon.products.indexOf(product) % 2 == 0) {
        $("#products").append("<div class=\"product even_product\" id=\"product\">" + 
          "<a href=\"/products/" + product.id + "\">" + product.name + "</a>" +
          " | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + 
          product.average + "</div>");
      } else {
        $("#products").append("<div class=\"product odd_product\" id=\"product\">" + 
          "<a href=\"/products/" + product.id + "\">" + product.name + "</a>" +
          " | " + "Total Reviews: " + product.total_reviews + " | " + "Avg. Rating: " + 
          product.average + "</div>");
      }
    });
  };
  loadData();
});
</script>

<div class="row">
  <div>
    <div id="products">
    </div>
  </div>
  <br/>
  <div>
    <% if authorized %>
      <%= link_to 'Add New Product', new_product_path %><br />
    <% end %>
  </div>
</div>