<div class="row">
	<div class="span7">
	© Define.IO 2013. Written in <a href="http://rubyonrails.org">Ruby on Rails.</a> 
  Hosted on <a href="http://heroku.com/">Heroku.</a><br />
  Icons by <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>!
	</div>
  <div class="span2">
    <a href="http://github.com/cuttooth/define-io"><i class="icon-github"></i></a>
  </div>
</div>