<script>
$(document).ready(function() {
		$('.dropdown-toggle').dropdown();
});
</script>
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/">define.io</a>
		<ul class="nav">
			<li><a href="/news">news</a></li>
			<li><a href="/products">products</a></li>
			<li><a href="#">forums</a></li>
		</ul>
		<ul class="nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to current_user.name, edit_user_registration_path %></a></li>
				<li><%= link_to 'logout', destroy_user_session_path, :method => :delete %><li>
			<% else %>
				<li><%= link_to 'register', :registration_path %></li>
				<li><%= link_to 'sign in', new_user_session_path %>
			<% end %>
		</ul>
	</div>
</div>